certifi==2022.12.7
chardet==3.0.4
cycler==0.10.0
GDAL==3.1.0
geojson==2.5.0
idna==2.10
imutils==0.5.3
kiwisolver==1.2.0
logstash-formatter==0.5.17
matplotlib==3.2.2
numpy==1.19.0
opencv-python==4.2.0.34
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
